body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    }

.logo {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul {
    display: flex;
    }

.menu {
    display: flex;
    align-items: center;

    }

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.headline h1 {
    font-size: 70px;
    text-shadow: 0px 1px 0px rgb(108, 109, 105);
    margin: 0px;
    padding: 0px;    
    max-width: 350px;
}

.headline h2 {
    font-size: 20px;
    text-shadow: 0px 1px 0px rgb(31, 31, 30);
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    max-width: 350px;
}
.options {
    height: 210px;
    display: flex;
}

.option1,
.option2,
.option3 {
    flex: 1;
    color: #fff;
    padding: 25px;
}

.option1 {
    background-color: #39aae1;
}

.option2 {
    background-color: #0079c7;
}

.option3 {
    background-color: #2b4c99;
}

.title {
    font-size: 24px;
}

.descricao {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.options a {
    display: inline-block;
    border: 1px solid #fff ;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.horario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 6px;
    border-bottom: 0.5px solid rgb(54, 99, 184);
    font-size: 12px;
}

#geral {
    display: flex;
    justify-content: center;
    }

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_text {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.widget_bar {
    width: 60px;
    height: 4px;
    background-color:#0079c7;
    margin-top: 10px;
}

.departaments {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
}

.departaments div {
    padding: 12px;
    margin: 10px;
    
    height: 120px;
    width: 120px;
    background-color: #0079c7;
}


