body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    }

.logo {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul {
    display: flex;
    }

.menu {
    display: flex;
    align-items: center;

    }

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.headline h1 {
    font-size: 70px;
    text-shadow: 0px 1px 0px rgb(108, 109, 105);
    margin: 0px;
    padding: 0px;    
    width: 350px;
}

.headline h2 {
    font-size: 20px;
    text-shadow: 0px 1px 0px rgb(108, 109, 105);
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    width: 350px;
}
.options {
    height: 210px;
    display: flex;
}

.option1,
.option2,
.option3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.option1 {
    background-color: #39aae1;
}

.option2 {
    background-color: #0079c7;
}

.option3 {
    background-color: #2b4c99;
}

.title {
    font-size: 24px;
}
